<div class="colours">
    <div class="row">
        <div class="col colours-info">
            <p class="colours-heading">DAZZLING COLOURS</p>
            <p class="colours-sub-heading">Whether in a business meeting or in a decadent nightclub, the sleek Samsung Galaxy S5 looks at home wherever you take it.</p>
            <div class="colours-select">
                <img src="img/content/Samsung Galaxy S3/colours/graph.png" />
                <p class="colours-select-name">BLACK</p>
            </div>
        </div>
        <div class="col colours-image">
            <img class="colours-image-gold" src="img/content/Samsung Galaxy S3/colours/gold.png" />
            <img class="colours-image-black" src="img/content/Samsung Galaxy S3/colours/black.png" />
            <img class="colours-image-blue" src="img/content/Samsung Galaxy S3/colours/blue.png" />
        </div>
    </div>
    <a class="colours-conditions" ng-click="openModal()">Terms and conditions</a>
</div>
