<div class="reviews">
    <p class="reviews-heading">THE INDUSTRY BUZZ</p>
    <div class="reviews-cnet">
        <img src="img/content/Samsung Galaxy S3/reviews/cnet.png" />
        <span class="reviews-cnet-text">Reviewed by CNET Australia</span>
    </div>
    <div class="row">
        <div class="col reviews-info">
        	<p class="reviews-title"><b>The Good</b></p>
        	<p class="reviews-body">The Samsung Galaxy S5 has a glorious screen, tonnes of power, a great camera and a beautiful design. It's waterproof too, so it wonn't conk out when you drop it in the bath.</p>
        </div>
        <div class="col reviews-info">
        	<p class="reviews-title"><b>The Bad</b></p>
        	<p class="reviews-body">It's expensive, it's regular autofocus adjustments during shotting can spoil videos, and the camera resolution is throttled when using the full automatic mode.</p>
        </div>
        <div class="col reviews-info">
        	<p class="reviews-title"><b>The Bottom Line</b></p>
        	<p class="reviews-body">Sure, it costs a bundle, but the Sony Xperia Z2 is everything you should expect from a top-end phone. If you're looking for both style and substance from a phone, you've come to the right place.</p>
        	<div class="reviews-rating">
        		<rating ng-model="rating.rate" max="rating.max"></rating>
        	</div>
        </div>
        <a class="reviews-conditions" ng-click="openModal()">Terms and conditions</a>
        <img ng-click="showCard(); startProgressBar()" class="reviews-card buttonMain {{buttonMainAnim}} animated {{buttonMainEnter}}" src="img/content/Shared/card2.png">
    </div>
</div>
<!-- markup for the progress bar -->
<div class="holder" style="z-index: {{holderzIndex}};">
    <center>
         <div class="cardSwipeWrapper animated {{cardSwipeWrapper}}" ng-show="showCardSwipeWrapper">
            <div class="progressBarGroup">
                <div class="contentWrapper">
                    <div class="littleBadge animated {{badgeAnim}}" ng-show="showBadge"></div>
                    <div class="saveDetailsWrapper animated {{saveDetailsWrapperExit}}" ng-hide="saveToDetailsExit">                
                        <div class="saveDetails {{saveDetailsAnim}}"></div>
                    </div>
                    <div class="saveToCardWrapper">             
                        <div class="saveToCard animated {{saveToCardAnim}}"></div>
                    </div>
                    <div class="mainSectionWrapper {{mainSectionWrapperAnim}}" ng-show="showMainSection">
                        <img class="cardSwipeGif animated {{cardSwipeGifAnim}}" src="img/gif/swipe_card.gif" ng-show="showCardSwipeGif" />
                        <div class="centerButtonWrapper animated {{centerButtonWrapperAnim}}">          
                            <img class="centerButton {{centerButtonAnim}}" src="img/card/button.png"/>                    
                        </div>
                        <p class="p1 animated {{pAnim}}">{{deviceName}}</p>
                        <p class="p3 animated {{pAnim2}}" ng-show="showp2">PERSONAL S</p>
                        <p class="p4 animated {{pAnim2}}" ng-show="showp2">EVERYDAY</p>
                        <p class="p4 animated {{pAnim2}}" ng-show="showp2">CONNECT PLAN</p>
                        <div class="checkButton animated {{checkAnim}}" ng-show="showCheck"></div>      
                    </div>
                    <div class="buttonClose animated {{buttonCloseAnim}}" ng-click="stopProgressBar()"></div>
                </div>
                <!-- progress bar -->
                <div class="progressBarWrapper">
                   <div class="barWrapper" ng-show="showBar">
                       <div ang:round:progress data-round-progress-model="roundProgressData"></div>
                   </div>      
                   <div class="barInnerBorder" ng-show="true" ng-show="showBar"></div>
                   <div class="barBorder" ng-show="showBar"></div>
                </div>
            </div>            
         </div>
    </center>
</div>
