<div class="camera">
    <div class="row">
        <div class="col camera-info">
        	<p class="camera-title">DON'T MIISS THE ACTION</p>
        	<P class="camera-body-one">With a 16 Megapixel Camera and super-fast auto-focus you can shoot and capture the action as it happens.</P>
        	<p class="camera-body-two">Create amazing photos with Selective Focus by blurring the background and accentuating the subject for an image that really pops.</p>
        	<a class="camera-conditions" ng-click="openModal()">Terms and conditions</a>
        </div>
        <div class="col camera-image"><img src="img/content/Samsung Galaxy S3/camera/camera.png" /></div>
    </div>
</div>