<div class="price" ng-init="showAction0='true'">
    <p class="price-heading">LET'S TALK PRICE</p>
    <p class="price-sub-heading">Find the perfect Samsung Galaxy S5 plan for you.</p>

    <div class="mainContent animated {{action1Anim}}" ng-show="{{showAction0}}">
        <div class="row">
           <div class="col {{colAnim1_1}}" ng-click="action1(true,'personal')">
               <div class="price-body">
                   <p class="price-body-title"><b>Personal</b></p>
                   <p class="price-body-sub-title">Pay a flat monthly fee and receive unlimited texts.</p>
               </div>
               <div class="price-price">
                   <p class="price-from">From</p>
                   <p class="price-dollar">$</p><span class="price-value">69</span><span class="price-per">/mth</span>
                   <p class="price-minimum-cost">Minimum Cost: $2,345 | Contract Term: 24 Months.</p>
                   <button class="price-button" type="button"><i class="icon icon ion-chevron-right"></i></button>
               </div>
           </div>
           <div class="col {{colAnim2_1}}" ng-click="action1(true,'business')">
               <div class="price-body">
                   <p class="price-body-title"><b>Business</b></p>
                   <p class="price-body-sub-title">For business customers with ABN.</p>
               </div>
               <div class="price-price">
                   <p class="price-from">From</p>
                   <p class="price-dollar">$</p><span class="price-value">84</span><span class="price-per">/mth</span>
                   <p class="price-minimum-cost">Minimum Cost: $2,345 | Contract Term: 24 Months.</p>
                   <button class="price-button" type="button"><i class="icon icon ion-chevron-right"></i></button>
               </div>
           </div>
           <div class="col {{colAnim3_1}}" ng-click="action1(true,'prepaid')">
               <div class="price-body">
                   <p class="price-body-title"><b>Prepaid</b></p>
                   <p class="price-body-sub-title">Buy the Samsung Galaxy S5 upfront, then spend and recharge when you want.</p>
               </div>
               <div class="price-price">
                   <p class="price-from">From</p>
                   <p class="price-dollar">$</p><span class="price-value">799</span><span class="price-per">/mth</span>
                   <p class="price-minimum-cost">Minimum Cost: $2,345 | Contract Term: 24 Months.</p>
                   <button class="price-button" type="button"><i class="icon icon ion-chevron-right"></i></button>
               </div>
           </div>
       </div>
    </div>



    <div class="mainContent2 animated {{action2Anim}}" ng-show="showAction1">
        <div class="row">
            <div class="col col-10 price-personal {{pageAnim2}}" ng-click="action1(false)">
                <p class="price-body-title"><b>{{title}}</b></p>
                <button class="price-personal-button" type="button"><i class="icon icon ion-chevron-left"></i></button>
            </div>
            <div class="col price-cards small">
                <p class="price-size">S</p>
                <div class="cards {{colAnim1_2}}" ng-click="action2(true,'s',fromPrice1)">
                    <div class="cards-specs">
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">200 mins Inc.Calls</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">500MB Data</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">Unlimited SMS</p>
                    </div>
                    <div class="cards-price">
                        <p class="cards-dollar">$</p><span class="cards-value">{{fromPrice1}}</span><span class="cards-per">/mth</span>
                        <p class="cards-cost">Minimum Cost: $1,656</p>
                        <p class="cards-term">Contract Term: 24 Months.</p>
                    </div>
                    <div class="cards-equal">
                        <p class="cards-equal"><b>=</b></p>
                    </div>
                    <button class="cards-button" type="button"><i class="icon icon ion-chevron-right"></i></button>
                </div>
                <img class="cards-card" src="img/content/Shared/card2.png">
            </div>
            <div class="col price-cards medium">
                <p class="price-size">M</p>
                <div class="cards {{colAnim2_2}}" ng-click="action2(true,'m',fromPrice2)">
                    <div class="cards-specs">
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">400 mins Inc.Calls</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">1.5GB Data</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">Unlimited SMS</p>
                    </div>
                    <div class="cards-price">
                        <p class="cards-dollar">$</p><span class="cards-value">{{fromPrice2}}</span><span class="cards-per">/mth</span>
                        <p class="cards-cost">Minimum Cost: $1,776</p>
                        <p class="cards-term">Contract Term: 24 Months.</p>
                    </div>
                    <div class="cards-equal">
                        <p class="cards-equal"><b>=</b></p>
                    </div>
                    <button class="cards-button" type="button"><i class="icon icon ion-chevron-right"></i></button>
                </div>
                <img class="cards-card" src="img/content/Shared/card2.png">
            </div>
            <div class="col price-cards large">
                <p class="price-size">L</p>
                <div class="cards {{colAnim3_2}}" ng-click="action2(true,'l',fromPrice3)">
                    <div class="cards-specs">
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">600 mins Inc.Calls</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">2.5GB Data</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">Unlimited SMS</p>
                    </div>
                    <div class="cards-price">
                        <p class="cards-dollar">$</p><span class="cards-value">{{fromPrice3}}</span><span class="cards-per">/mth</span>
                        <p class="cards-cost">Minimum Cost: $2,280</p>
                        <p class="cards-term">Contract Term: 24 Months.</p>
                    </div>
                    <div class="cards-equal">
                        <p class="cards-equal"><b>=</b></p>
                    </div>
                    <button class="cards-button" type="button"><i class="icon icon ion-chevron-right"></i></button>
                </div>
                <img class="cards-card" src="img/content/Shared/card2.png">
            </div>
            <div class="col price-cards extra-large">
                <p class="price-size">XL</p>
                <div class="cards {{colAnim4_2}}" ng-click="action2(true,'xl',fromPrice4)">
                    <div class="cards-specs">
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">Unlimited Calls</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">Unlimited Data</p>
                        <i class="icon ion-checkmark cards-icon"></i>
                        <p class="cards-detail">Unlimited SMS</p>
                    </div>
                    <div class="cards-price">
                        <p class="cards-dollar">$</p><span class="cards-value">{{fromPrice4}}</span><span class="cards-per">/mth</span>
                        <p class="cards-cost">Minimum Cost: $3,120</p>
                        <p class="cards-term">Contract Term: 24 Months.</p>
                    </div>
                    <div class="cards-equal">
                        <p class="cards-equal"><b>=</b></p>
                    </div>
                    <button class="cards-button" type="button"><i class="icon icon ion-chevron-right"></i></button>
                </div>
                <div>
                    <img class="cards-card" src="img/content/Shared/card2.png">
                </div>
            </div>
        </div>
    </div>




    <div class="mainContent3 animated {{action3Anim}}" ng-show="showAction2">
        <!-- <button class="big" type="button" ng-click="action2(false)">Back</button> -->
        <div class="row">
             <div class="col price-cards-3 small {{pageAnim3}}" ng-click="action2(false)">
                 <p class="price-size-3">{{size}}</p>
                 <div class="cards-3">
                     <div class="cards-specs-3">
                         <i class="icon ion-checkmark cards-icon-3"></i>
                         <p class="cards-detail-3">200 mins Inc.Calls</p>
                         <i class="icon ion-checkmark cards-icon-3"></i>
                         <p class="cards-detail-3">500MB Data</p>
                         <i class="icon ion-checkmark cards-icon-3"></i>
                         <p class="cards-detail-3">Unlimited SMS</p>
                     </div>
                     <div class="cards-price-3">
                         <p class="cards-dollar-3">$</p><span class="cards-value-3">{{priceSize}}</span><span class="cards-per-3">/mth</span>
                         <p class="cards-cost-3">Minimum Cost: $1,656</p>
                         <p class="cards-term-3">Contract Term: 24 Months.</p>
                     </div>
                     <div class="cards-equal-2">
                         <p class="cards-equal-2"><b>=</b></p>
                     </div>
                     <button class="cards-button-3" type="button"><i class="icon icon ion-chevron-left"></i></button>
                 </div>
             </div>
             <div class="col cards-content">
                 <p class="cards-content-title">Mobile</p>
                 <div class="cards-content-info">
                     <p class="info-desc">Choose a 24-month contract and enjoy a $400 subsidy on the handset.</p>
                 </div>
                 <div class="cards-content-upfront">
                     <p class="upfront-dollar">$</p><span class="upfront-value">0</span><span class="upfront-upfront">upfront</span>
                 </div>
                 <div class="cards-content-per-month">
                     <p class="per-month-dollar">$</p><span class="per-month-value">{{priceSize}}</span><span class="per-month-month">/mth</span>
                     <p class="per-month-cost">Minimum Cost: $1.656</p>
                     <p class="per-month-term">Contract Term: 24 Months.</p>
                 </div>
             </div>
             <div class="col cards-content">
                 <p class="cards-content-title">BYO</p>
                 <div class="cards-content-info">
                     <p class="info-desc">Enjoy a shorter contract and cheaper monthly fee for $912 outright purchase.</p>
                 </div>
                 <div class="cards-content-upfront">
                     <p class="upfront-dollar">$</p><span class="upfront-value">672</span><span class="upfront-upfront">upfront</span>
                 </div>
                 <div class="cards-content-per-month">
                     <p class="per-month-dollar">$</p><span class="per-month-value">45</span><span class="per-month-month">/mth</span>
                     <p class="per-month-cost">Minimum Cost: $1.752</p>
                     <p class="per-month-term">Contract Term: 24 Months.</p>
                 </div>
             </div>
             <div class="col cards-content">
                 <p class="cards-content-title">Pre-paid</p>
                 <div class="cards-content-info">
                     <p class="info-desc">Upgrade whenever it suits with a month-by-month contract.</p>
                 </div>
                 <div class="cards-content-upfront">
                     <p class="upfront-dollar">$</p><span class="upfront-value">672</span><span class="upfront-upfront">upfront</span>
                 </div>
                 <div class="cards-content-per-month">
                     <p class="per-month-dollar">$</p><span class="per-month-value">55</span><span class="per-month-month">/mth</span>
                     <p class="per-month-cost">Minimum Cost: $727</p>
                     <p class="per-month-term">Contract Term: 1 Month.</p>
                 </div>
             </div>
         </div>
    </div>

    <a class="price-conditions" ng-click="openModal()">Terms and conditions</a>
</div>
