<div class="extras">
    <p class="extras-heading">TRY OUT THESE EXTRAS</p>
    <p class="extras-sub-heading">Get even more value with the Samsung Galaxy S5.</p>
    <div class="row">
        <div class="col extras-body">
            <p class="extras-body-title">NEW PHONE FEELING&trade;</p>
            <p class="extras-body-desc">Enjoy the excitement of getting a new phone every year.</p>
        </div>
        <div class="col extras-body">
            <p class="extras-body-title">TELSTRA PLATINUM</p>
            <p class="extras-body-desc">Get help with your tech and gadgets.</p>
        </div>
        <div class="col extras-body">
            <p class="extras-body-title">STAY CONNECTED&trade;</p>
            <p class="extras-body-desc">A back-up plan for your device, you will be able to reconnect with lost data as soon as possible.</p>
        </div>
        <div class="col extras-body">
            <p class="extras-body-title">DATA SHARING</p>
            <p class="extras-body-desc">Get more out of your data allowance by sharing it between your devices.</p>
        </div>
    </div>
    <div class="row">
        <div class="col extras-price">
            <div class="extras-add-outer">
                <div class="extras-add-inner">
                    <p class="extras-add">ADD</p>
                </div>
            </div>
            <p class="extras-dollar">$</p><span class="extras-value">10</span><span class="extras-per">/mth</span>
            <p class="extras-term">Minimum Term: 24 Months</p>
        </div>
        <div class="col extras-price">
            <div class="extras-add-outer">
                <div class="extras-add-inner">
                    <p class="extras-add">ADD</p>
                </div>
            </div>
            <p class="extras-dollar">$</p><span class="extras-value">12</span><span class="extras-per">/mth</span>
            <p class="extras-term">Minimum Term: 24 Months</p>
        </div>
        <div class="col extras-price">
            <div class="extras-add-outer">
                <div class="extras-add-inner">
                    <p class="extras-add">ADD</p>
                </div>
            </div>
            <p class="extras-dollar">$</p><span class="extras-value">14</span><span class="extras-per">/mth</span>
            <p class="extras-term">Minimum Term: 24 Months</p>
        </div>
        <div class="col extras-price">
            <div class="extras-add-outer">
                <div class="extras-add-inner">
                    <p class="extras-add">ADD</p>
                </div>
            </div>
            <p class="extras-dollar">$</p><span class="extras-value">16</span><span class="extras-per">/mth</span>
            <p class="extras-term">Minimum Term: 24 Months</p>
        </div>
    </div>
    <a class="extras-conditions" ng-click="openModal()">Terms and conditions</a>
</div>
