<div class="battery">
    <div class="row">
        <div class="col battery-info">
        	<p class="battery-title">TWO DAYS OF POWER FROM ONE CHARGE</p>
        	<P class="battery-body-one">If you can't put your smartphone down, you'll love the newfound energy efficiency of the Xperia Z3.</P>
        	<p class="battery-body-two">The battery can power the 2.5GHz quad-core Qualcomm Snapdragon 801 processors for two days, providing you with maximum output and an HD quality screen.</p>
        	<a class="battery-conditions" ng-click="openModal()">Terms and conditions</a>
        </div>
        <div class="col battery-image"><img src="img/content/Samsung Galaxy S3/battery/battery.png" /></div>
    </div>
</div>
