<div class="accessories">
    <p class="accessories-heading">RECOMMENDED ACCESSORIES</p>
    <p class="accessories-sub-heading">All the latest accessories for the Samsung Galaxy S5.</p>
    <div class="row accessories-body-one">
        <div class="col col-10 accessories-image">
        	<img src="img/content/Samsung Galaxy S3/accessories/screen-protector.png">
        </div>
        <div class="col col-33 accessories-desc-one">
            <p class="accessories-name">Samsung Protector for Samsung Galaxy S3</p>
            <div class="accessories-price">
            	<p class="accessories-dollar">$</p>
            	<span class="accessories-value">29.95</span>
            </div>
        </div>
        <div class="col col-20 accessories-image">
            <img src="img/content/Samsung Galaxy S3/accessories/speaker.png">
        </div>
        <div class="col col-50 accessories-desc-two">
            <p class="accessories-name">Plantronics K-100 Bluetooth Speakerphone</p>
            <div class="accessories-price">
            	<p class="accessories-dollar">$</p>
            	<span class="accessories-value">39.95</span>
            </div>
        </div>
    </div>
    <div class="row accessories-body-two">
        <div class="col col-10 accessories-image">
            <img src="img/content/Samsung Galaxy S3/accessories/black-case.png">
        </div>
        <div class="col col-33 accessories-desc-one">
            <p class="accessories-name">Telstra Black Case</p>
            <div class="accessories-price">
            	<p class="accessories-dollar">$</p>
            	<span class="accessories-value">11.45</span>
            </div>
        </div>
        <div class="col col col-20 accessories-image">
            <img src="img/content/Samsung Galaxy S3/accessories/car-charger.png">
        </div>
        <div class="col col-50 accessories-desc-two">
            <p class="accessories-name">Telstra USB Car Charger</p>
            <div class="accessories-price">
            	<p class="accessories-dollar">$</p>
            	<span class="accessories-value">9.95</span>
            </div>
        </div>
    </div>
    <a class="accessories-conditions" ng-click="openModal()">Terms and conditions</a>
</div>
