<div class="firstglance">
    <div class="row">
        <div class="col firstglance-one">
            <img class="firstglance-back animated fadeInUp {{imageFloat}}" src="{{imageUrl_Back}}" />
            <img class="firstglance-front animated fadeInUp {{imageFloat}}" src="{{imageUrl_Front}}" />
            <img class="firstglance-check animated fadeIn" src="img/content/Shared/check.png" />
            <!-- <div class="{{cardAnim}} firstglance-card animated fadeIn" ng-click="clickCard()">
                <img class="firstglance-card" src="img/content/Shared/card2.png"/>
            </div> -->
            <div class="firstglance-card animated fadeIn">
                <div class="buttonMain {{buttonMainAnim}} animated {{buttonMainEnter}}" ng-click="showCard(); startProgressBar()"></div>
            </div>
        </div>
        <div class="col firstglance-two">
            <p class="firstglance-phone-name animated fadeInUp">{{deviceSelected}}</p>
            <rating class="rating animated fadeInUp" ng-model="rating.rate" max="rating.max"></rating>
            <p class="firstglance-phone-review animated fadeInUp">Reviewed by CNET</p>
            <p class="firstglance-phone-description animated fadeInUp">The Samsung Galaxy S5 is water and dust resistant, has a stunning screen and boasts an excellent camera and 4K camcorder to capture to capture everything in stunning detail.</p>
            <div class="firstglance-amount {{toPriceAnim}} animated fadeInUp" ng-click="goToPrice('animate')">
                <span class="firstglance-dollar">$</span><span class="firstglance-value">80</span><span class="firstglance-per">/mth</span>
                <p class="firstglance-minimum">Minimum Cost: $2,345</p>
                <p class="firstglance-term">Contract Term: 24 months</p>
                <button class="firstglance-button-1" type="button"><i class="icon icon ion-chevron-right"></i></button>
            </div>
        </div>
        <div class="col firstglance-three">
            <div class="firstglance-a animated fadeInLeft">
                <p class="firstglance-copy-1"><b>832</b> people viewed the Samsung Galaxy S5</p>
                <img src="img/content/Samsung Galaxy S3/first glance/views.jpg">
            </div>
            <div class="firstglance-b {{toExtrasAnim}} animated fadeInLeft" ng-click="goToExtras('animate')">
                <p class="firstglance-copy-2">GET A BRAND NEW PHONE EVERY YEAR</p>
                <p class="firstglance-copy-3">With Telstra's New Phone Feeling&trade;</p>
                <button class="firstglance-button-2" type="button"><i class="icon icon ion-chevron-right"></i></button>
            </div>
        </div>
    </div>
    <a class="firstglance-conditions animated fadeIn" ng-click="openModal()">Terms and conditions</a>
</div>

<!-- for the progress bar -->

<div class="holder" style="z-index: {{holderzIndex}};">
    <center>
         <div class="cardSwipeWrapper animated {{cardSwipeWrapper}}" ng-show="showCardSwipeWrapper">
            <div class="progressBarGroup">
                <div class="contentWrapper">
                    <div class="littleBadge animated {{badgeAnim}}" ng-show="showBadge"></div>
                    <div class="saveDetailsWrapper animated {{saveDetailsWrapperExit}}" ng-hide="saveToDetailsExit">                
                        <div class="saveDetails {{saveDetailsAnim}}"></div>
                    </div>
                    <div class="saveToCardWrapper">             
                        <div class="saveToCard animated {{saveToCardAnim}}"></div>
                    </div>
                    <div class="mainSectionWrapper {{mainSectionWrapperAnim}}" ng-show="showMainSection">
                        <img class="cardSwipeGif animated {{cardSwipeGifAnim}}" src="img/gif/swipe_card.gif" ng-show="showCardSwipeGif" />
                        <div class="centerButtonWrapper animated {{centerButtonWrapperAnim}}">          
                            <img class="centerButton {{centerButtonAnim}}" src="img/card/button.png"/>                    
                        </div>
                        <p class="p1 animated {{pAnim}}">{{deviceSelected}}</p>
                        <!-- <p class="p2 animated {{pAnim}}">XPERIA Z2</p> -->
                        <p class="p3 animated {{pAnim2}}" ng-show="showp2">PERSONAL S</p>
                        <p class="p4 animated {{pAnim2}}" ng-show="showp2">EVERYDAY</p>
                        <p class="p4 animated {{pAnim2}}" ng-show="showp2">CONNECT PLAN</p>
                        <div class="checkButton animated {{checkAnim}}" ng-show="showCheck"></div>      
                    </div>
                    <div class="buttonClose animated {{buttonCloseAnim}}" ng-click=""></div>
                </div>
                <!-- progress bar -->
                <div class="progressBarWrapper">
                   <div class="barWrapper" ng-show="showBar">
                       <div ang:round:progress data-round-progress-model="roundProgressData"></div>
                   </div>      
                   <div class="barInnerBorder" ng-show="true" ng-show="showBar"></div>
                   <div class="barBorder" ng-show="showBar"></div>
                </div>
            </div>            
         </div>

        <!-- <div class="firstglance-card animated fadeIn">
            <div class="buttonMain {{buttonMainAnim}} animated {{buttonMainEnter}}" ng-click="showCard(); startProgressBar()"></div>
        </div> -->
         
    </center>
</div>
