<div class="specs">
    <p class="specs-heading">THE SPECS SHEET</p>
    <p class="specs-sub-heading">The inside word on the Samsung Galaxy S5</p>
    <div class="row">
        <div class="col specs-title">
            <p class="specs-title"><b>Performance</b></p>
        </div>
        <div class="col specs-title">
            <p class="specs-title"><b>Connectivity</b></p>
        </div>
        <div class="col specs-title">
            <p class="specs-title"><b>Other features</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col specs-info">
            <p class="specs-body">2.3GHz quad-core Snapdragon 801</p>
            <p class="specs-body">Google Android 4.4.2 KitKat</p>
            <p class="specs-body">3GB RAM</p>
            <p class="specs-body">16 GB internal memory</p>
            <p class="specs-body">28GB via microSD (sold separately)</p>
        </div>
        <div class="col specs-info">
            <p class="specs-body">4G</p>
            <p class="specs-body">Wi-Fi</p>
            <p class="specs-body">Bluetooth</p>
            <p class="specs-body">NFC</p>
            <p class="specs-body">USB</p>
        </div>
        <div class="col specs-info">
            <p class="specs-body">1920x1080p resolution</p>
            <p class="specs-body">5.2 inch screen</p>
            <p class="specs-body">20.7 MP camera</p>
            <p class="specs-body">2160p video</p>
            <p class="specs-body">20 Mha battery</p>
        </div>
        <a class="specs-conditions" ng-click="openModal()">Terms and conditions</a>
    </div>
</div>
