/*animation on dashboard*/
div.title1.animated.fadeInDown,
div.title1.animated.fadeOutUp {
  animation-delay: 0ms;
}
div.title2.animated.fadeInDown,
div.title2.animated.fadeOutUp {
  animation-delay: 100ms;
}
div.title3.animated.fadeInDown,
div.title3.animated.fadeOutUp {
  animation-delay: 200ms;
}
/*dashboard device in*/
div#device0.device.animated.slideInLeft {
  animation-delay: 60ms;
}
div#device1.device.animated.slideInLeft {
  animation-delay: 40ms;
}
div#device2.device.animated.slideInLeft {
  animation-delay: 20ms;
}
div#device3.device.animated.slideInLeft {
  animation-delay: 0ms;
}
/*dashboard device out*/
div#device0.device.animated.slideOutLeft {
  animation-delay: 0ms;
}
div#device1.device.animated.slideOutLeft {
  animation-delay: 30ms;
}
div#device2.device.animated.slideOutLeft {
  animation-delay: 60ms;
}
div#device3.device.animated.slideOutLeft {
  animation-delay: 90ms;
}
div.slideOutLeft {
    animation-name: left;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    transition-timing-function: ease-in-out;
}
@keyframes left {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
     visibility: hidden;
        transform: translate3d(-500%, 0, 0);
    }
}
div.slideInLeft {
    animation-name: leftIn;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    transition-timing-function: ease-in-out;
}
@keyframes leftIn {
    0% {
        transform: translate3d(-500%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
.click {
  -webkit-animation: click 300ms;
  animation: click 300ms;
}
@keyframes click {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97);
        opacity: 0.7;
    }
}
/*animation for navigation*/
.nav-phone.ng-enter {
  transition: 0.8s ease all;
  transform: translate3d(0,-200px,0);
  opacity: 0;
}
.nav-phone.ng-enter.ng-enter-active {
  transition-delay: 400ms;
  transform: translate3d(0,0,0);
  opacity: 1;
}
.nav-phone.ng-enter-stagger {
  transition-delay: 230ms;
  transition-duration: 0;
}
/*animation for sliding tab list*/
.slidingTabs ul li .ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    transform: scale(0);
    opacity: 0;
}
.slidingTabs ul li .ink.animate {
   -webkit-animation: ripple 0.4s linear;
   animation: ripple 0.4s linear;
} 
@-webkit-keyframes ripple {
    100% {
        opacity: 1;
        transform: scale(0.6);
        -webkit-transform:scale(0.6);
    }
}
.slider-slide-tab.animated.fadeInDown {
  animation-duration: 500ms;
}
.slider-slide-tab:nth-child(1){
  animation-delay: 700ms;
}
.slider-slide-tab:nth-child(2){
  animation-delay: 800ms;
}
.slider-slide-tab:nth-child(3){
  animation-delay: 900ms;
}
.slider-slide-tab:nth-child(4){
  animation-delay: 1000ms;
}
.slider-slide-tab:nth-child(5){
  animation-delay: 1100ms;
}
.slider-slide-tab:nth-child(6){
  animation-delay: 1200ms;
}
.slider-slide-tab:nth-child(7){
  animation-delay: 1300ms;
}
.slider-slide-tab:nth-child(8){
  animation-delay: 1400ms;
}
.slider-slide-tab:nth-child(9){
  animation-delay: 1500ms;
}
/*firstglance*/
@keyframes zoomInAnim {
  0% {
    transform: scale(0.0);
  }
  100% {
      transform: scale(1.1);
      opacity: 1;
  }
}
.firstglance-front.animated.fadeInUp {
-webkit-animation-delay:500ms;
animation-delay:500ms;
}
.firstglance-back.animated.fadeInUp {
-webkit-animation-delay:700ms;
animation-delay:700ms;
}
.firstglance-check.animated.fadeIn{
    -webkit-animation-delay:1800ms;
    animation-delay:1800ms;
}

div.firstglance-card.animated.fadeIn {  
    -webkit-animation-delay:1300ms;
    animation-delay:1300ms;
 }
img.firstglance-card {
    animation:zoomInAnim 500ms;
    -webkit-animation-delay:1300ms;
    animation-delay:1300ms;
  }
 .firstglance-phone-name{
  -webkit-animation-delay:1000ms;
  animation-delay:1000ms;
 }
  .galaxy{
  -webkit-animation-delay:1200ms;
  animation-delay:1200ms;
 }
  .rating{
  -webkit-animation-delay:1200ms;
  animation-delay:1200ms;
 }
 .firstglance-phone-review{
  -webkit-animation-delay:1400ms;
  animation-delay:1400ms;
 }
 .firstglance-phone-description{
  -webkit-animation-delay:1600ms;
  animation-delay:1600ms;
 }
.firstglance-amount{
  -webkit-animation-delay:1820ms;
  animation-delay:1820ms;
 }
.firstglance-a{
  -webkit-animation-delay:2000ms;
  animation-delay:2000ms;
 }
 .firstglance-b{
  -webkit-animation-delay:2200ms;
  animation-delay:2200ms;
 }
.firstglance-conditions{
  -webkit-animation-delay:2400ms;
  animation-delay:2400ms;
 }
 div.firstglance-amount.animate, div.firstglance-b.animate {
  -webkit-animation: click 300ms;
  animation: click 300ms;
 }
 /*some other animations*/
.col.animate,
.col.col-10.price-personal.animate,
.cards.animate,
.col.price-cards-3.small.animate {
  -webkit-animation: click 300ms;
  animation: click 300ms;
}
/****************/
div.dashboardTitle.hidden {
  visibility: hidden;
}
div.dashboardTitle.visible {
  visibility: visible;
}

